<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="81ba965b-f710-439e-81ac-3ed0cdd060cd" name="ProcessorAPI Response Data Validation TestSuite" xmlns:con="http://eviware.com/soapui/config"><con:description>TestSuite generated for REST Service [ProcessorAPI]</con:description><con:settings><con:setting id="81ba965b-f710-439e-81ac-3ed0cdd060cdfileName">ProcessorAPI-Response-Data-Validation-TestSuite</con:setting></con:settings><con:savedRecentRuns>1</con:savedRecentRuns><con:runType>SEQUENTIAL</con:runType><con:properties/><con:reportParameters/><con:environmentSpec><con:entry environmentId="8eef0a7c-3706-4628-b66b-dc2fb662e155"><con:authProfile>Inherit From Parent</con:authProfile></con:entry></con:environmentSpec></con:testSuite>