<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="d874179f-676a-4ab6-b9c3-9245771d6f4b" wadlVersion="http://wadl.dev.java.net/2009/02" name="MemoryAPI" type="rest" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="d874179f-676a-4ab6-b9c3-9245771d6f4bfileName">MemoryAPI</con:setting></con:settings><con:definitionCache type="TEXT" rootPart=""/><con:endpoints><con:endpoint>http://localhost:8082</con:endpoint></con:endpoints><con:environmentSpec><con:entry environmentId="8eef0a7c-3706-4628-b66b-dc2fb662e155"><con:authProfile>Inherit From Parent</con:authProfile></con:entry></con:environmentSpec></con:interface>