<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="3311d72d-9daa-40ab-8270-65b088c624a6" name="ProcessorAPI Response Format Validation TestSuite" xmlns:con="http://eviware.com/soapui/config"><con:description>TestSuite generated for REST Service [ProcessorAPI]</con:description><con:settings><con:setting id="3311d72d-9daa-40ab-8270-65b088c624a6fileName">ProcessorAPI-Response-Format-Validation-TestSuite</con:setting></con:settings><con:savedRecentRuns>1</con:savedRecentRuns><con:runType>PARALLELL</con:runType><con:properties/><con:reportParameters/><con:environmentSpec><con:entry environmentId="8eef0a7c-3706-4628-b66b-dc2fb662e155"><con:authProfile>Inherit From Parent</con:authProfile></con:entry></con:environmentSpec></con:testSuite>